SECRET_KEY=test
ALLOWED_HOSTS=localhost,example.com
POSTGRES_DB=budgetapp
POSTGRES_USER=admin
POSTGRES_PASSWORD=mypass
POSTGRES_HOST=db
POSTGRES_PORT=5432
DEBUG=TRUE
DJANGO_SETTINGS_MODULE=project.settings.dev
